<footer> 
  <nav class="round">
    <ul> 
	  <li><%= link_to "Team Getup", teamgetup_path %></li>
	  <li><a href="http://howilearnedeverything.com/">Getup Blog</a></li> 
	  <li><a href="http://www.getupmanifesto.com/">Getup Manifesto</a></li>
    </ul> 
  </nav>
</footer>